<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <header>
      <div class="container">
        <h1>Welcome to Heaven</h1>
        <nav>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <section class="hero">
      <div class="container">
        <h2>Discover Amazing Things</h2>
        <p>Explore the world and find the best places to visit.</p>
        <a href="http://{{ serve }}:{{ listen }}/param_users/<username>" class="button"
            >Learn More</a>
          <h1>Data</h1>
          <p style="color: black">Hello, {{ name }}</p>
        </div>
      </div>
    </section>

    <section class="features">
      <div class="container">
        <h2>Our Features</h2>
        <div class="feature">
          <h3>Feature 1</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="feature">
          <h3>Feature 2</h3>
          <p>Nullam id leo nec nunc dapibus hendrerit.</p>
        </div>
        <div class="feature">
          <h3>Feature 3</h3>
          <p>
            Phasellus sodales elit vel est dapibus, in consequat ipsum bibendum.
          </p>
        </div>
      </div>
    </section>

    <footer>
      <div class="container">
        <p>&copy; 2024 Heaven. All rights reserved.</p>
      </div>
    </footer>
  </body>
</html>
